*{
  margin:0px;
  *border:1px solid green;
  box-sizing:border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:15px;
}

.navbar, .home{
  cursor:pointer;
  color:white;
 
}
.link{
   color:rgb(145, 145, 145);
 cursor:pointer;
  
}
.link:hover{
    color:rgb(195, 195, 195);
 
}
.disabled{
  color:grey;
}
.dropdown{
  display:inline;
    cursor:pointer;
  color:rgb(145, 145, 145);  
  
}
.dropdown:hover{
    color:rgb(195, 195, 195);
}
.top-box{
   width:100%;
  height:10%;
  /* border:1px solid red; */
  background:#343a40;
  
}
.searchbox{
  float: right;
  margin:1px;
  border-radius:5px;
  width: 200px; 
  height: 30px;
  
}
.search{
  float: right;
  background-color: #343a40;
  color: green;
  width: 75px;
  height: 30px;
  border-radius:5px;
  border:1px solid green;
  cursor:pointer; 
 
}
.search:hover{
  background-color:green;
  color:white;
 
}
.textbox{
    width:100%;
    height:50%;
  margin-top:0px;
  margin-left:0px;
  background-color:rgb(235, 235, 235);
  }
.hello{
   margin-top:50px;
  margin-left:40px;
  font-size:50px;
}
.text{
  margin-top:15px;
  margin-left:40px;
}
.learnmore{
      width:13%;
    height:50px;
    margin-top:20px;
  margin-left:40px;
    font-size:22px;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    color:white;
    line-height: 48px;
  text-align:center;
  cursor:pointer;
}
.heading-table{
  margin-top:20px;
  margin-left:40px;
}
.viewdetails{
      width:27%;
    height:40px;
    margin-top:20px;
  margin-left:0px;
    font-size:15px;
    background-color: grey;
    border-radius: 5px;
    color:white;
    line-height: 40px;
  text-align:center;
    cursor:pointer;
}
.viewdetails:hover{
  background-color:rgb(95, 95, 95);
  color:white;
 
}
.copyright{
    margin-top:50px;
    margin-left:40px;
}
body{
  position:absolute;
  width:100%;
  height:100%;
  background:white;
}
